.square {
    width: 200px;
    height: 200px;
    background-color: red;
  }

  .qadrat {
    width: 200px;
    height: 200px;
    background-color: pink;
  }

  .qadrat1 {
    width: 150px;
    height: 150px;
    background-color: yellow;
  }

  .root {
    height: 200px;
	width: 200px;
	border: 1px solid black;
	padding: 10px;
  }

  .root1 {
    height: 200px;
    width: 200px;
	border: 1px solid black;
	padding: 10px;
  }